body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
}

.crowdpic{
  background-image: url('./img/crowd.jpg');
  background-size: 100% 100%;
}

.boxer{
  background: black;
  border: thin solid white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav {
  display:flex;
  justify-content: space-between;
  align-content: left;
  padding: 5px;
}

input {
  font-size: 1rem;
}

.centertext {
  text-align: center;
}

.snugify {
  width: 80vw;
  max-width: 500px;
  /* border: thin solid white; */
}

.centerhelp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 50px;
}

.spacer {
  height: 30px;
}

.whitebg {
  background: white;
  padding: 5px 5px 5px 5px;
}

.centerall {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  height: 0px;
  width: 0px;
  display: none;
}